body {
  font-family: sans-serif;
  background: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0rem 5rem;
  gap: 2rem;
}

.days-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  align-items: center;
}

.weather-details__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 1rem;
}